.home-container {
  background-color: #fafafa;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
}

.home-horizontal-line {
  display: block;
  width: 100%;
  border: 0.5px solid #c6c6c8;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
