.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 74%;
  }
}

.profile-user-id-name-image-bio-card {
  display: flex;
  flex-direction: column;
  width: 90%;
  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

.profile-user-name {
  display: block;
  color: #262626;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.profile-user-name-lg {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    color: #262626;
    font-family: Roboto;
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 0px;
  }
}

.profile-image-post-followers-following-count-card {
  display: flex;
  align-items: center;
  width: 100%;
  @media screen and (min-width: 768px) {
    margin-top: 0px;
  }
}

.profile-image {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  margin-right: 20px;
  @media screen and (min-width: 768px) {
    width: 180px;
    height: 180px;
    margin-top: 0px;
    margin-right: 52px;
  }
}

.profile-post-followers-following-count-card {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  @media screen and (min-width: 768px) {
    gap: 40px;
    margin-bottom: 0px;
  }
}

.profile-post-followers-following-text {
  color: #262626;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    font-size: 16px;
    margin-bottom: 0px;
  }
}

.profile-post-followers-following-span {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  margin-top: 4px;
  @media screen and (min-width: 768px) {
    margin: auto;
    margin-left: 4px;
    font-size: 16px;
  }
}

.profile-user-id-bio-card {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.profile-user-id-bio-card-lg {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }
}

.profile-user-id {
  color: #262626;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.profile-user-bio {
  color: #262626;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 0px;
}

.profile-user-id-lg {
  color: #262626;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.profile-user-bio-lg {
  color: #262626;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 0px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.profile-user-stories-list {
  display: flex;
  align-items: center;
  width: 90%;
  padding-left: 0px;
  gap: 14px;
  margin-top: 10px;
  margin-bottom: 18px;
  @media screen and (min-width: 768px) {
    width: 100%;
    margin-top: 40px;
    gap: 30px;
    margin-bottom: 30px;
  }
}

.profile-user-stories-item {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c7c7cc;
  list-style-type: none;
  @media screen and (min-width: 768px) {
    width: 86px;
    height: 86px;
  }
}

.profile-user-stories-image {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  @media screen and (min-width: 768px) {
    width: 78px;
    height: 78px;
  }
}

.profile-post-image-icon-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-top: 16px;
    margin-bottom: 36px;
  }
}

.profile-post-name-icon-card {
  display: flex;
  align-items: center;
  align-self: center;
  width: 90%;
  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

.profile-post-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}

.profile-post-text {
  color: #262626;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}

.profile-post-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0px;
  margin-top: 10px;
  @media screen and (min-width: 768px) {
    margin-top: 16px;
  }
}

.profile-post-item {
  list-style-type: none;
  width: 31%;
  margin-bottom: 10px;
}

.profile-post-image {
  width: 100%;
}

.user-profile-horizontal-line {
  width: 100%;
  border: 0.5px solid #c6c6c8;
}

.profile-failure-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80vh;
  @media screen and (min-width: 768px) {
    width: 74%;
  }
}

.profile-failure-image {
  width: 24px;
  height: 24px;
  @media screen and (min-width: 768px) {
    width: 38px;
    height: 38px;
  }
}

.profile-failure-text {
  color: #262626;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.profile-failure-try-again-button {
  background-color: #4094ef;
  width: 102px;
  height: 32px;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.profile-loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.profile-no-post-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 50vh;
  @media screen and (min-width: 768px) {
    min-height: 80vh;
  }
}

.profile-no-post-icon-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #262626;
  @media screen and (min-width: 768px) {
    width: 86px;
    height: 86px;
  }
}

.profile-no-post-icon {
  width: 30px;
  height: 26px;
  @media screen and (min-width: 768px) {
    width: 48px;
    height: 45px;
  }
}

.profile-no-post-text {
  color: #262626;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  @media screen and (min-width: 768px) {
    font-size: 32px;
  }
}
